.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}

.menu-container{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    z-index: 999999;
}
.clearfix:after{
    display: flex;
    width: 100px;
    height: 75px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    margin-right: 10px;
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
}
.sub-menu {
    background:#088A29;
}
.menu a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: #A4A4A4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 20px;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background: none;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 110px;
}
.sub-menu li:hover {
    background:#088A29;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}